procedure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/1.0" xmlns:pithia="https://metadata.pithia.eu/schemas/2.2" targetNamespace="https://metadata.pithia.eu/schemas/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <import namespace="http://standards.iso.org/iso/19115/-3/mrl/1.0" schemaLocation="https://standards.iso.org/iso/19115/-3/mrl/1.0/mrl.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <annotation>
        <documentation>Version 2.2 08/20/2022</documentation>
    </annotation>
    <!-- 
           P R O C E S S   C A P A B I L I T Y
           defines one observed property and its attributes
           included in Acquisition and Computation
    -->
    <element name="processCapability" substitutionGroup="gml:AbstractObject" type="pithia:ProcessCapabilityType">
        <annotation>
            <documentation>Capabilities of the process, i.e., list of observed properties</documentation>
        </annotation>
    </element>
    <complexType name="ProcessCapabilityType">
        <sequence>
            <element name="name" type="string">
                <annotation>
                    <documentation>name of the capability (for internal use within PITHIA system)</documentation>
                </annotation>
            </element>
            <element name="observedProperty" minOccurs="1" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>what the process can measure or predict</documentation>
                </annotation>
            </element>
            <element name="dimensionalityInstance" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>it describes the data domain of the single instance </documentation>
                </annotation>
            </element>
            <element name="dimensionalityTimeline" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>for annimation...</documentation>
                </annotation>
            </element>
            <element name="vectorRepresentation" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>for annimation...</documentation>
                </annotation>
            </element>
            <element name="crs" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>for annimation...</documentation>
                </annotation>
            </element>
            <element name="units" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                <annotation>
                    <documentation>units of the observed property</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ProcessCapabilityPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:processCapability"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- end of ProcessCapability -->
    <!--
         P R O C E S S  
         an abstract element that is parent to Acquisition, Computation, and CompositeProcess 
    -->
    <element abstract="true" name="Process" type="pithia:ProcessType">
        <annotation>
            <documentation>-- Definition --
An  abstract  class without attributes and operations.  It serves as the base class for all types of processes.
-- Description --
NOTE  An instance of Process may consist of more than one components. A component shall be either  an acquisition or a  numerical computation. 
An acquisition type   component  interacts with the feature of interest /sampling feature (e.g. an atmospheric column, a specimen etc)  to provide  a result whereas a computation type  involves only pure computation.
            </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="ProcessType">
        <!-- new start -->
        <sequence>
            <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                <annotation>
                    <documentation>-- Definition --
                        External identifier of the process component (acquisition, computation or composite). 
                    </documentation>
                </annotation>
            </element>                
            <element name="description" maxOccurs="1" minOccurs="0" type="string">
                <annotation>
                    <documentation>-- Definition --
                        Textual description of  the process component (acquisition, computation or composite). 
                    </documentation>
                </annotation>
            </element>            
            <element name="capability" maxOccurs="unbounded" minOccurs="0" type="pithia:ProcessCapabilityPropertyType"/>
        </sequence>
        <!-- new end -->      
    </complexType>
    <complexType name="ProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Process"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- end of Process -->
    <!--
         A C Q U I S I T I O N      
    -->
    <element name="Acquisition" substitutionGroup="pithia:Process" type="pithia:AcquisitionType">
        <annotation>
            <documentation>-- Definition --
A process component which interacts with the feature of interest  (e.g. an atmospheric column)  to provide a result. 
</documentation>
        </annotation>
    </element>
    <complexType name="AcquisitionType">
        <complexContent>
            <extension base="pithia:ProcessType">
                <sequence>
                    <element name="documentation" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Reference to documentation describing the acquisition component.</documentation>
                        </annotation>
                    </element>
                    <element name="instrumentPlatformPair" maxOccurs="unbounded" minOccurs="0" type="pithia:InstrumentPlatformPairPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Notification of  the platform and  the mounted on it  instrument for the specified acquisition component. 
                            </documentation>
                        </annotation>
                    </element>
                    <!-- New  start-->
                    <element name="instrumentModePair" maxOccurs="unbounded" minOccurs="0" type="pithia:InstrumentOperationalModePairPropertyType"/>
                    <!-- New  end -->
                    <element name="outputDescription" maxOccurs="1" minOccurs="0" type="pithia:InputOutputPropertyType">
                        <annotation>
                            <documentation>-- Definition --EE
Description of  the acquisition output.

-- Description --
NOTE The description does not involve the actual values of the output data.</documentation>
                        </annotation>
                    </element>
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Individual or organisation related  to acquisition.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="instrument" maxOccurs="unbounded" minOccurs="1" type="pithia:InstrumentPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Instrument used in the acquisition component.

-- Description --

NOTE Any instance of MO_Acquisition shall have at least one instrument which might be used in more than one acquisitions.
                             </documentation>
                        </annotation>
                    </element>
                    <element name="platform" maxOccurs="unbounded" minOccurs="0" type="pithia:PlatformPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Platform used in the acquisition component.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="operation" maxOccurs="unbounded" minOccurs="0" type="pithia:OperationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Operation of a platform.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="dataLevel" maxOccurs="unbounded" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                Data Level of the acquisition result from a controlled vocabulary.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="qualityAssessment" maxOccurs="unbounded" minOccurs="0" type="pithia:QualityAssessmentType">
                        <annotation>
                            <documentation>-- Definition --
                                Description of the Quality Assessment, including 
                                (a) scientific quality, 
                                (b) quality of metadata, and 
                                (c) operational quality of data resources
                            </documentation>
                        </annotation>
                    </element>    
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AcquisitionPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Acquisition"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Instrument" substitutionGroup="gml:AbstractFeature" type="pithia:InstrumentType">
        <annotation>
            <documentation>-- Definition --
Designations for the measuring instruments which interact with the feature of interest.


-- Description --
SOURCE [ ISO 19115-2:2009]

NOTE An instance of Instrument class can be an aggregation of instruments.


             </documentation>
        </annotation>
    </element>
    <complexType name="InstrumentType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the instrument.
                            </documentation>
                        </annotation>
                    </element>                    
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the instrument
                            </documentation>
                        </annotation>
                    </element>                     
                    <element name="description" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Textual description of the instrument.</documentation>
                        </annotation>
                    </element>  
                    <element name="version" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                version of the instrument.
                            </documentation>
                        </annotation>
                    </element> 
                    <element name="type" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
                                Type of instrument from a controlled vocabulary.</documentation>
                        </annotation>
                    </element>  
                    <!-- new start -->
                    <element name="operationalMode" maxOccurs="unbounded" minOccurs="0" type="pithia:InstrumentOperationalModePropertyType"/>
                    <element name="URL" maxOccurs="unbounded" minOccurs="0" type="gmd:URL_PropertyType"/>     
                    <!-- new end -->
                    <element name="documentation" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Reference to documentation describing the instrument.
                            </documentation>
                        </annotation>
                    </element>                    
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Information regarding organisations and/or individuals related to instrument. 
                            </documentation>
                        </annotation>
                    </element>
                    <element name="member" maxOccurs="unbounded" minOccurs="0" type="pithia:InstrumentPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Member of a group of instruments.

</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InstrumentPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Instrument"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="InstrumentPlatformPair" substitutionGroup="gml:AbstractObject" type="pithia:InstrumentPlatformPairType">
        <annotation>
            <documentation>-- Definition --
A pair consisting of  a platform and an  instrument mounted on this platform. 
            </documentation>
        </annotation>
    </element>
    <complexType name="InstrumentPlatformPairType">
        <sequence>
            <element name="instrument" type="pithia:InstrumentPropertyType">
                <annotation>
                    <documentation>-- Definition --
Instrument mounted on the specified platform.
                    </documentation>
                </annotation>
            </element>
            <element name="platform" type="pithia:PlatformPropertyType">
                <annotation>
                    <documentation>-- Definition --
Platform hosting the specified instrument.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="InstrumentPlatformPairPropertyType">
        <sequence>
            <element ref="pithia:InstrumentPlatformPair"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="Platform" substitutionGroup="gml:AbstractFeature" type="pithia:PlatformType">
        <annotation>
            <documentation>-- Definition --
A platform is an identifiable  object which can either 
i) bring the acquisition instrument(s) to the appropriate environment  (e.g aircraft, ground station);  
ii) create the appropriate environment for the  acquisition instrument(s) ( e.g a cloud chamber) ; or
iii) provide the appropriate operational conditions to the instruments (e.g a ground station provides electricity )
in order to acquire the data according to the observation objectives. 

-- Description --
NOTE A platform may be a member of a complex of parent  and child platforms.
            </documentation>
        </annotation>
    </element>
    <complexType name="PlatformType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the platform.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the platform.
                            </documentation>
                        </annotation>
                    </element> 
                    <!-- new start -->
                    <element name="shortName" type="string"/> 
                    <element name="URL" maxOccurs="unbounded" minOccurs="0" type="gmd:URL_PropertyType"/>
                    <!-- new end -->                    
                    <element name="description" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
Textual description of the platform.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="type" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>--Definition--
                                Type of platform.</documentation>
                        </annotation>
                    </element>
                    <element name="documentation" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Reference to documentation describing the platform.</documentation>
                        </annotation>
                    </element>
                    <element name="location" maxOccurs="1" minOccurs="0" type="pithia:LocationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Location of the platform. 

-- Description --
Location is only applicable to static platforms or geo-stationairy satellites.
</documentation>
                        </annotation>
                    </element>
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Information regarding organisations and/or individuals related to platform.

-- Description --
NOTE A facility owning a platform can be described by relatedParty attribute.</documentation>
                        </annotation>
                    </element>
                    <element name="childPlatform" maxOccurs="unbounded" minOccurs="0" type="pithia:PlatformPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Child platform. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PlatformPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Platform"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Operation" substitutionGroup="gml:AbstractFeature" type="pithia:OperationType">
        <annotation>
            <documentation>-- Definition --
Information about a platform operation  -  e.g. flight of an aircraft - which needed for the data acquisition.

-- Description --
NOTE 1 The act of an observation using a specified acquisition procedure occurs during the operation of the platform involved in the data acquisition.

EXAMPLE During the operation of ENVISAT satellite, the onboard AATSR (Advanced Along Track Scanning Radiometer) can acquire data needed for measuring the sea surface temperature 

NOTE 2  An instance of MO_Operation  may describe  the operation of more than one platforms.

NOTE 3 An instance of MO_Operation class can be an aggregation of platform operations.
</documentation>
        </annotation>
    </element>
    <complexType name="OperationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the operation
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the operation.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Textual description of the operation.</documentation>
                        </annotation>
                    </element>                    
                    <element name="location" minOccurs="0" maxOccurs="1" type="pithia:LocationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Location of the platform operation.

-- Description --
EXAMPLE A flight line or a ship track for a platform such as an  aircraft or a ship respectively.
</documentation>
                        </annotation>
                    </element>
                    <element name="operationTime" minOccurs="0" maxOccurs="1" type="om:TimeObjectPropertyType">
                        <annotation>
                            <documentation>--Definition--
When the operation occurred.
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Reference to documentation describing the operation.</documentation>
                        </annotation>
                    </element>
                    <element name="status" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
Status of the platform operation.</documentation>
                        </annotation>
                    </element>
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Individual or organisation related  to platform operation.</documentation>
                        </annotation>
                    </element>    
                    <element name="platform" maxOccurs="unbounded" minOccurs="0" type="pithia:PlatformPropertyType">
                        <annotation>
                            <documentation>-- Definition --
The operated platform.</documentation>
                        </annotation>
                    </element>
                    <element name="childOperation" maxOccurs="unbounded" minOccurs="0" type="pithia:OperationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Child operation. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OperationPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Operation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Location" substitutionGroup="gml:AbstractObject" type="pithia:LocationType">
        <annotation>
            <documentation>-- Definition --
Location of an object provided by a geometric or geographic description or both.
</documentation>
        </annotation>
    </element>
    <complexType name="LocationType">
        <sequence>
            <element name="geometryLocation" maxOccurs="1" minOccurs="0" type="gml:GeometryPropertyType">
                <annotation>
                    <documentation>-- Definition --
 Geometric representation of the location. 

</documentation>
                </annotation>
            </element>
            <element name="nameLocation" maxOccurs="1" minOccurs="0" type="gmd:EX_GeographicDescription_PropertyType">
                <annotation>
                    <documentation>-- Definition --
Geographic description of the location  using text or an identifier. 
</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="LocationPropertyType">
        <sequence>
            <element ref="pithia:Location"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- end of Acquisition and associated Instrument, Platform, and Operation -->
    <!--     
         C O M P U T A T I O N      
    -->
    <element name="Computation" substitutionGroup="pithia:Process" type="pithia:ComputationType">
        <annotation>
            <documentation>-- Definition --
A process component which involves only numerical computation.

-- Description --
An instance of Computation  provides a) a  description of a process component   which does not interact with the feature of interest and b) description of the anticipated output and required input. 
            </documentation>
        </annotation>
    </element>
    <complexType name="ComputationType">
        <complexContent>
            <extension base="pithia:ProcessType">
                <sequence>     
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the computation component.
                            </documentation>
                        </annotation>
                    </element>     
                    <element name="version" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Version of the computation component.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="type" maxOccurs="unbounded" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                Type of computation from a controlled vocabulary.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="dataLevel" maxOccurs="unbounded" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                Data Level of the computation result from a controlled vocabulary.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="qualityAssessment" maxOccurs="unbounded" minOccurs="0" type="pithia:QualityAssessmentType">
                        <annotation>
                            <documentation>-- Definition --
                                Description of the Quality Assessment, including 
                                (a) scientific quality, 
                                (b) quality of metadata, and 
                                (c) operational quality of data resources
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="documentation" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Reference to documentation describing the computation component.</documentation>
                        </annotation>
                    </element>
                    <element name="softwareReference" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Reference to document describing processing software.</documentation>
                        </annotation>
                    </element>                    
                    <element name="processingInput" maxOccurs="unbounded" minOccurs="0" type="pithia:InputOutputPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Description  of a  required input  of Computation.

.-- Description --
The description does not involve the values of the input data. The actual values, if required, shall be stored in &lt;i&gt;OM_Observation.parameter&amp;gt;NamedValue&lt;/i&gt; as they are specific to the event of the observation and not to the applied process ( see MO_Observation constraint). 
                            </documentation>
                        </annotation>
                    </element>
                    <element name="processingOutput" maxOccurs="1" minOccurs="0" type="pithia:InputOutputPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Description of Computation output.

-- Description --
NOTE The description does not involve the actual values of the output data.
</documentation>
                        </annotation>
                    </element>
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition -- 
Individual or organisation related  to Computation.
</documentation>
                        </annotation>
                    </element>
                    <element name="algorithm" maxOccurs="unbounded" minOccurs="0" type="mrl:LE_Algorithm_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
Algorithm(s) on which the computation step is based on.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ComputationPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Computation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <element name="InputOutput" substitutionGroup="gml:AbstractObject" type="pithia:InputOutputType">
        <annotation>
            <documentation>-- Definition --
Name, or other identification, and description of required input or produced output  by the application of a process component.

-- Description --
The description does not involve the values of the data. The actual values, if required, shall be stored in the attribute 
&lt;i&gt;parameter&amp;gt;NamedValue &lt;/i&gt;of the observation utilising the process component as they are specific to 
the event of the observation and not to the applied process. 
</documentation>
        </annotation>
    </element>
    <complexType name="InputOutputType">
        <sequence>
            <element name="description" type="mrl:LE_Source_PropertyType">
                <annotation>
                    <documentation>-- Definition -- 
Description of  input  or output data relevant to  a process component.
</documentation>
                </annotation>
            </element>
            <element name="name" maxOccurs="1" minOccurs="0" type="string">
                <annotation>
                    <documentation>-- Definition --
Name  or other identification  of input or output   data relevant to a process component.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="InputOutputPropertyType">
        <sequence>
            <element ref="pithia:InputOutput"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    
    <!-- new start -->
    <element name="InstrumentOperationalMode" substitutionGroup="gml:AbstractObject" type="pithia:InstrumentOperationalModeType"/>
    <complexType name="InstrumentOperationalModeType">
        <sequence>
            <element name="id" type="string"/>
            <element name="name" type="string"/>
            <element name="description" type="string"/>
        </sequence>
    </complexType>
    <complexType name="InstrumentOperationalModePropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:InstrumentOperationalMode"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="InstrumentOperationalModePair" substitutionGroup="gml:AbstractObject" type="pithia:InstrumentOperationalModePairType"/>
    <complexType name="InstrumentOperationalModePairType">
        <sequence>
            <element name="instrument" type="pithia:InstrumentPropertyType"/>
            <element name="mode" type="pithia:InstrumentOperationalModePropertyType"/>
        </sequence>
    </complexType>
    <complexType name="InstrumentOperationalModePairPropertyType">
        <sequence>
            <element ref="pithia:InstrumentOperationalModePair"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- new end -->      
    
    <simpleType name="ComputationTypeValueType">
        <union memberTypes="pithia:ComputationTypeValueEnumerationType pithia:ComputationTypeValueOtherType"/>
    </simpleType>
    <simpleType name="ComputationTypeValueEnumerationType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="ComputationTypeValueOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <!-- end of Computation -->
    <!--     
         C O M P O S I T E   P R O C E S S 
    -->
    <element name="CompositeProcess" substitutionGroup="pithia:Process" type="pithia:CompositeProcessType">
        <annotation>
            <documentation>-- Definition --
A process consisting of more than one components. A component shall be either  of acquisition or computation type. The  aggregation may include only acquisition or  computation types,  or both.
</documentation>
        </annotation>
    </element>
    <complexType name="CompositeProcessType">
        <complexContent>
            <extension base="pithia:ProcessType">
                <sequence>
                     <element name="documentation" maxOccurs="unbounded" minOccurs="0" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Reference to documentation describing the composite process.</documentation>
                        </annotation>
                    </element>
                    <element name="relatedParty" maxOccurs="unbounded" minOccurs="0" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Individual or organisation related  to composite process.</documentation>
                        </annotation>
                    </element>
                    <element name="computationComponent" maxOccurs="unbounded" minOccurs="0" type="pithia:ComputationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
 A component   of computation  type.</documentation>
                        </annotation>
                    </element>
                    <element name="acquisitionComponent" maxOccurs="unbounded" minOccurs="0" type="pithia:AcquisitionPropertyType">
                        <annotation>
                            <documentation>-- Definition --
 A component   of acquisition type.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CompositeProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:CompositeProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>