validation/schemas/2.1/observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:om="http://www.opengis.net/om/2.0"
        xmlns:espas="http://schemas.espas-fp7.eu/2.1" targetNamespace="http://schemas.espas-fp7.eu/2.1"
        elementFormDefault="qualified" attributeFormDefault="qualified"
        version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="result.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <element name="ESPAS_Observation" substitutionGroup="om:OM_Observation" type="espas:ESPAS_ObservationType">
        <annotation>
            <documentation>-- Definition --
                A specialisation of OM_Observation class.

                -- Description --
                An instance of ESPAS_Observation describes the action of the observation within the context of ESPAS.

                Observation is the act that results in the estimation of the value of a feature property using a
                designated procedure, such as a sensor, instrument, algorithm or process chain. An observation is
                associated with a discrete time instant or period though which a number , term or other symbol is
                assigned to a phenomenon. The result of the observation (i.e. data) is an estimate of the value of a
                property of some feature, so the details of the observation are metadata concerning the value of the
                feature property.
                SOURCE [ ISO 19156:2011]

            </documentation>
        </annotation>
    </element>
    <complexType name="ESPAS_ObservationType">
        <complexContent>
            <extension base="om:OM_ObservationType">
                <sequence>
                    <element name="identifier" type="espas:ESPAS_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the observation.

                                -- Description --
                                NOTE The identifier may be used by an external application to reference an observation.
                                EXAMPLE An identifier can be used for packaging an observation to an observation
                                collection.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A free text description of the observation including its intentions.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="geographicExtent"
                             type="espas:EX_GeographicExtent_ExtendedPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Description of the geographic area , e.g. bounding polygon, within which the
                                observation's result is available.

                                -- Description --
                                GeographicExtent is the envelope of the geographic areas of multiple coverages.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="status" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
                                Status of the act of the observation.

                                -- Description --
                                EXAMPLE Measurements of rain rate at Chilbolton Observatoty,UK are being conducted since
                                2000. The status of this observation is onGoing.

                                NOTE If an observation is onGoing then the relative Project shall be onGoing.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation"
                             type="espas:ESPAS_Citation_ExtendedPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Reference to documentation describing the observation.
                            </documentation>
                        </annotation>
                    </element>
                    <!-- the type is gml:timeLength not type="duration"-->
                    <element maxOccurs="1" minOccurs="0" name="temporalResolution" type="duration">
                        <annotation>
                            <documentation>-- Definition --
                                The temporal resoultion of the observation data e.g. an hour, six hours, a day etc.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="resolution" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Narrative description of the result's domain density ( temporal and/or spatial
                                resolution and/or spectral) .

                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="permission" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Restrictions on the access and use of observation's result.

                                -- Desription --
                                Restrictions on the access and use of the observation result are known without
                                navigating from the obseravtion to the result.

                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedParty"
                             type="espas:ESPAS_ResponsiblePartyInfo_ExtendedPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Individual or organisation related to observation.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="resultAccumulation" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
                                Frequency with which additions are/were made to the observation's result.

                                -- Description --
                                EXAMPLE Measurements of rain rate at Chilbolton Observatoty,UK are being conducted since
                                2000. This is an onGoing observation with a result being growing on a daily basis.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="result" type="espas:ESPAS_ResultPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                List of resources for on line access to the observation result.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="project" type="espas:xlinkHref_ExtendedPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                A project that the observation is linked to.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="deleted" type="espas:deleteType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ESPAS_ObservationPropertyType">
        <sequence minOccurs="0">
            <element ref="espas:ESPAS_Observation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>