validation/schemas/2.1/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:espas="http://schemas.espas-fp7.eu/2.1"
        targetNamespace="http://schemas.espas-fp7.eu/2.1"
        elementFormDefault="qualified" attributeFormDefault="qualified"
        version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <element name="ESPAS_Project" substitutionGroup="gml:AbstractFeature" type="espas:ESPAS_ProjectType">
        <annotation>
            <documentation>-- Definition --
                An identifiable activity designed to accomplish a set of objectives.
                -- Description --
                A typical sequence of data capturing involves one or more projects&lt;b&gt; &lt;/b&gt;for which a number
                of observations are conducted, using appropriate tools and methods, to produce data sets.
                EXAMPLE 1 to add an example (DIAS?)
                NOTE 1 A project may be a member of a complex of parent and child-projects.
            </documentation>
        </annotation>
    </element>
    <complexType name="ESPAS_ProjectType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="espas:ESPAS_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the project.

                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the project.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="shortName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Acronym of the project.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="abstract" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Brief narrative summary of the project.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A description of the project including its intentions.

                            </documentation>
                        </annotation>
                    </element>
                    <!-- new start -->
                    <element maxOccurs="unbounded" minOccurs="0" name="URL" type="espas:URL_ExtendedPropertyType"/>
                    <!-- new end -->
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation"
                             type="espas:ESPAS_CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Reference to documentation describing the project.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="keywords" type="espas:MD_Keywords_ExtendedPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Category keywords, their type, and reference source.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedParty"
                             type="espas:ESPAS_ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Individual or organisation related to the project.

                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="status" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
                                Status of the project regarding its objectives .
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="parentProject" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <documentation>
                                Parent Project of the current project
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="permission" type="espas:xlinkHref_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Restrictions on the access and use of observation's result.

                                -- Desription --
                                Restrictions on the access and use of the observation result are known without
                                navigating from the obseravtion to the result.

                            </documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="deleted" type="espas:deleteType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ESPAS_ProjectPropertyType">
        <sequence minOccurs="0">
            <element ref="espas:ESPAS_Project"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

</schema>