register/schemas/2.2/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" 
xmlns:pithia="https://ontology.pithia.eu/2.2" targetNamespace="https://ontology.pithia.eu/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <element name="Project" substitutionGroup="gml:AbstractFeature" type="pithia:ProjectType">
        <annotation>
            <documentation>-- Definition --
An identifiable activity designed to accomplish a set of objectives.

-- Description --
A typical sequence of data capturing involves one or more projects&lt;b&gt; &lt;/b&gt;for which  a number of observations are conducted,  using appropriate tools and methods,  to produce  data sets. 

EXAMPLE 1  to add an example (DIAS?)

NOTE 1  A project may be a member of a complex of parent  and child-projects.


</documentation>
        </annotation>
    </element>
    <complexType name="ProjectType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the project. 
                                
                            </documentation>
                        </annotation>
                    </element> 
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the project. 
                            </documentation>
                        </annotation>
                    </element>
                    <element name="shortName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Acronym of the project.
                            </documentation>
                        </annotation>
                    </element>                    
                    <element name="abstract" type="string">
                        <annotation>
                            <documentation>-- Definition --
Brief narrative summary of the project.
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
A description of the project including its intentions.

</documentation>
                        </annotation>
                    </element>
                    <!-- new start -->
                    <element maxOccurs="unbounded" minOccurs="0" name="URL" type="gmd:URL_PropertyType"/>
                    <!-- new end -->                    
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation" type="pithia:CitationPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Reference to documentation describing the project.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="keywords" type="gmd:MD_Keywords_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
Category keywords, their type, and reference source.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Individual or organisation related  to the project.

</documentation>
                        </annotation>
                    </element>
                    <element name="status" minOccurs="0" maxOccurs="1" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
                            </appinfo>
                            <documentation>-- Definition --
Status of the project regarding its objectives .</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="subProject" type="pithia:ProjectPropertyType">
                        <annotation>
                            <documentation>-- Definition --
Sub-project of the project.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProjectPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:Project"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>