validation/local_schema_files/catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" xmlns:doi="http://www.doi.org/2010/DOISchema" xmlns:pithia="https://metadata.pithia.eu/schemas/2.2" targetNamespace="https://metadata.pithia.eu/schemas/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <import namespace="http://www.doi.org/2010/iso3166a2" schemaLocation="https://www.doi.org/doi_schemas/iso3166a2.xsd"/>
    <import namespace="http://www.doi.org/2010/DOISchemaAVS" schemaLocation="https://www.doi.org/doi_schemas/DOIAVS.xsd"/>
    <import namespace="http://www.doi.org/2010/DOISchema" schemaLocation="https://www.doi.org/doi_schemas/DOIMetadataKernel.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <annotation>
        <documentation>Version 2.2 08/20/2022</documentation>
    </annotation>
    <element name="Catalogue" substitutionGroup="gml:AbstractObject" type="pithia:PITHIA_CatalogueType">
        <annotation>
            <documentation>-- Definition --
A catalogue is a list of entries (that can be events or investigations of various categories, 
e.g., solar flares). Each catalogue is characterized by its category (dictionary-controlled). 
Each entry has phenomenon time (with begin and end times). 
            </documentation>
        </annotation>
    </element>
    <complexType name="PITHIA_CatalogueType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the catalogue.
                                
                                -- Description --
                                NOTE The identifier is used by CatalogueEntry to reference back to the catalogue.
                                
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the Catalogue
                            </documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                 A free-text description of the catalogue contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="catalogueCategory" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                A category of the catalogue from the ontology disctionary.
                            </documentation>
                        </annotation>
                    </element>   
                </sequence>
            </extension>
        </complexContent>
    </complexType>
<!-- 

 -->
    <element name="CatalogueEntry" substitutionGroup="gml:AbstractObject" type="pithia:PITHIA_CatalogueEntryType">
        <annotation>
            <documentation>-- Definition --
A catalogue entry is one registered event or investigation inside the catalogue of specific category (type). 
Each entry is characterized by phenomenon time (with begin and end). 
Each catalogue entry includes 1+ registered data subsets.
            </documentation>
        </annotation>
    </element>
    <complexType name="PITHIA_CatalogueEntryType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the catalogue entry.
                                
                                -- Description --
                                NOTE The identifier is used by Data Subset to reference back to the Catalogue Entry.
                                
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="entryName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A short name of this Catalogue Entry 
                            </documentation>
                        </annotation>
                    </element>                    
                    <element name="entryDescription" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                 A free-text description of the catalogue entry contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element name="catalogueIdentifier" maxOccurs="1" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                A link to the catalogue that this entry belongs to.
                            </documentation>
                        </annotation>
                    </element>   
                    <element name="phenomenonTime" minOccurs="1" type="om:TimeObjectPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="DataSubset" substitutionGroup="gml:AbstractObject" type="pithia:DataSubsetType">
        <annotation>
            <documentation>-- Definition --
Each catalogue entry includes 1+ registered data subsets. Each subset is linked to the Data Collection document, 
the result time (with begin and end), and an optional DOI link to the persistent storage of the subset data.
            </documentation>
        </annotation>
    </element>
    <complexType name="DataSubsetType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:PITHIA_IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the data subset registered for the parent CatalogueEntry of the catalogue.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="entryIdentifier" maxOccurs="1" minOccurs="1" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                A link to the catalogue entry that this data subset belongs to.
                            </documentation>
                        </annotation>
                    </element>   
                    <element name="dataSubsetName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A short name of this Data Subset
                            </documentation>
                        </annotation>
                    </element>                    
                    <element name="dataSubsetDescription" maxOccurs="1" minOccurs="0" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A free-text description of the data subset contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element name="dataCollection" maxOccurs="1" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                A link to the PITHIA Data Collection that holds metadata for this subset.
                            </documentation>
                        </annotation>
                    </element>   
                    <element name="resultTime" minOccurs="1" type="om:TimeObjectPropertyType"/>
                    <element name="source" minOccurs="0" maxOccurs="unbounded" type="pithia:OnlineResourcePropertyType"/>
                    <element name="doi" minOccurs="0" maxOccurs="unbounded" type="doi:kernelMetadata"/>
                    <element name="dataLevel" maxOccurs="1" minOccurs="0" type="gml:ReferenceType">
                        <annotation>
                            <documentation>-- Definition --
                                Data level designation from the vocabulary.
                            </documentation>
                        </annotation>
                    </element>   
                    <element name="qualityAssessment" type="pithia:QualityAssessmentType">
                        <annotation>
                            <documentation>-- Definition --
                                Description of the Quality Assessment, including 
                                (a) scientific quality, 
                                (b) quality of metadata, and 
                                (c) operational quality of data resources
                            </documentation>
                        </annotation>
                    </element>    
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CatalogueEntryIdentifierPropertyType">
        <sequence>
            <element ref="pithia:CatalogueEntry"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>