validation/schemas/2.2/observationCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" 
xmlns:pithia="https://ontology.pithia.eu/2.2" targetNamespace="https://ontology.pithia.eu/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <include schemaLocation="project.xsd"/>
    <include schemaLocation="observation.xsd"/>
        
    <element name="ObservationCollection" substitutionGroup="gml:AbstractFeature" type="pithia:ObservationCollectionType">
        <annotation>
            <documentation>-- Definition --
A collection of existing observations.

-- Description --
Observations can be aggregated in collections organised with significantly more flexibility than including only those observations conducted in support of the same  project.   

EXAMPLE A collection including all the  conducted observations under the project DIAS.
</documentation>
        </annotation>
    </element>
    <complexType name="ObservationCollectionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the observation collection.
                                
                                -- Description --
                                NOTE The identifier may be used by an external application to reference an  observation collection.
                                
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the Observation Collection.
                                
                            </documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
Description of the observation collection including  the criteria for its  creation.  

-- Description --
Criteria could be a common observation process, an observable property etc.


</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="project" type="pithia:ProjectPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                A project that the observation collections belongs to.</documentation>
                        </annotation>
                    </element>   
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" type="pithia:ResponsiblePartyInfoPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Individual or organisation related  to the observation collection
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="subCollection" type="pithia:ObservationCollectionPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                Sub-collectiont of the collection.</documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="unbounded" minOccurs="0" name="additionalMetadata" type="gmd:CI_OnlineResource_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
Resources for any non ISO conformed  metadata about the Observation Collection.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="isoMetadata" type="gmd:MD_Metadata_PropertyType">
                        <annotation>
                            <documentation>-- Definition --
ISO   metadata about the Observation Collection.
</documentation>
                        </annotation>
                    </element>
                    <element name="query" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                The CQuery query  that describes the observations that belong to this collection
                                
                                -- Description --
                                The detailed query in CQuery format that describes the observations that belong to this collection                             
                                
                            </documentation>
                        </annotation>
                    </element> 
                    <!-- we don't use this element, because we use the Query to describe which observations belong to this collection
                    <element maxOccurs="unbounded" minOccurs="0" name="member" type="pithia:ObservationPropertyType"/>
                    -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ObservationCollectionPropertyType">
        <sequence minOccurs="0">
            <element ref="pithia:ObservationCollection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>